<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width">
		<meta name="description" content="">
		<meta name="author" content="">
		<title>When Lambo?</title>
	</head>

	<body>
		<section>
      <h1>When Lambo?</h1>
      <p>Current price of BTC-LTC is: <span class="ticker"></span></p>
		</section>
		<script src="/socket.io/socket.io.js"></script>
		<script src="/script.js"></script>
	</body>
</html>
