<div class="flex-container">
    <md-card class="example-card">

        <md-card-title>Register</md-card-title>

        <md-card-content>
            <md-form-field class="example-full-width">
                <input mdInput placeholder="Username">
            </md-form-field>
            <md-form-field class="example-full-width">
                <input mdInput placeholder="Password" type="password">
            </md-form-field>
            <md-form-field class="example-full-width">
                <input mdInput placeholder="Retype password" type="password">
            </md-form-field>
        </md-card-content>

        <button md-raised-button color="primary">Register account</button>

    </md-card>
</div>
