<md-card>

    <md-card-title>Add trade</md-card-title>

    <md-card-content>
        <form [formGroup]="addTrade" (ngSubmit)="onSubmit(addTrade.value)" novalidate class="container">
            <div class="item">
                <md-select placeholder="Currency" formControlName="currencies">
                    <md-option *ngFor="let currency of currencies" [value]="currency">{{ currency }}</md-option>
                </md-select>
            </div>
            <md-form-field class="item">
                <input mdInput placeholder="Sell target" formControlName="sellTarget" type="number">
            </md-form-field>
            <md-form-field class="item">
                <input mdInput placeholder="Stoploss" formControlName="stoploss" type="number">
            </md-form-field>
            <md-form-field class="item">
                <input mdInput placeholder="Amount" formControlName="amount" type="number">
            </md-form-field>
            <div class="item">
                <button md-raised-button color="primary" class="full-width" [disabled]="addTrade.invalid">
                    Schedule trade
                </button>
            </div>
        </form>
    </md-card-content>

</md-card>
